<div class="input-group Boxsearch">
    <input type="search" placeholder="Buscar" aria-label="Buscar" aria-describedat="Buscar">
    <span class="material-icons-outlined">
        search
    </span>
</div>

<div class="Boxdata mt-3">
    <p><span>Periodo: 03/11/21 al 03/12/21</span>
        Cantidad de transacciones al día
    </p>
    <div class="Boxdata_number row mb-3">
        <div class="col item">
            <strong>325</strong>
            <span><strong>Día de hoy</strong></span>
        </div>
        <div class="col item">
            <strong>1568</strong>
            <span>En el mes</span>
        </div>
    </div>
    <p>Total ventas hoy</p>
    <div class="Boxdata_number one mb-3">
        <div class="item">
            <strong>$ 57.872.876</strong>
        </div>
    </div>
    <p class="text-start">Promociones</p>
    <img src="../../../assets/icons/promociones.png" class="img-fluid" alt="">
</div>