<nav class="sb-topnav navbar navbar-expand bg-white">
    <div class="container-fluid">
        <div class="row">
            <div class="column">
                <a class="navbar-brand">
                    <img src="./assets/icons/logo.png" alt="">
                </a>
            </div>
            <div class="column boxheader-bottom" >
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Página donde estoy ubicado</li>
                    </ol>
                  </nav>
            </div>
          </div>
          <div class="row">
            <div class="column">
                <div class="d-flex align-right">
                    <div class="headerUser">
                        <div class="boxUser_text">
                            <p>Gabriel Jaime Quiñones Mendoza
                                <span>Administrator</span>
                            </p>
                        </div>
                        <img class="boxUser_img rounded-circle text-end" src="../../../assets/icons/user.png" alt="logos">
                    </div>
                    <nav class="headerOption">
                        <a>
                            <img src="../../../assets/icons/icon-notifications.svg" alt="logos">
                        </a>
                        <a>
                            <img src="../../../assets/icons/icon-star.svg" alt="logos">
                        </a>
                        <a>
                            <img src="../../../assets/icons/icon-question.svg" alt="logos">
                        </a>
                        <a>
                            <img src="../../../assets/icons/icon-security.svg" alt="logos">
                        </a>
                    </nav>
                </div>
            </div>
            <div class="column boxheader-bottom">
                <div class="d-flex align-right">
                    <span class="option">
                        <img src="../../../assets/icons/icon-home.svg" alt="logos">CoopiDrogas Chapinero
                    </span>
                    <span class="option">
                        <img src="../../../assets/icons/icon-calendar.svg" alt="logos">18 Noviembre 2021
                    </span>
                    <div class="btn-group">
                        <img src="../../../assets/icons/icon-language.svg" alt="logos">
                        <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Español
                        </button>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </div>
            </div>
          </div>
    </div> 
        <!-- <div class="row">
            <div class="col-12 col-lg-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Página donde estoy ubicado</li>
                    </ol>
                </nav>
            </div>
            <div class="col-12 col-lg-8">
                <div class="row justify-content-end">
                    <div class="col-md-auto">
                        <span class="option">
                            <img src="../../../assets/icons/icon-home.svg" alt="logos">CoopiDrogas Chapinero
                        </span>
                        <span class="option">
                            <img src="../../../assets/icons/icon-calendar.svg" alt="logos">18 Noviembre 2021
                        </span>
                        <div class="btn-group">
                            <img src="../../../assets/icons/icon-language.svg" alt="logos">
                            <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Español
                            </button>
    
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
</nav>
<!-- 
<header>
    <div class="row boxheader-bottom">
        <div class="col-12 col-lg-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Página donde estoy ubicado</li>
                </ol>
            </nav>
        </div>
        <div class="col-12 col-lg-8">
            <div class="row justify-content-end">
                <div class="col-md-auto">
                    <span class="option">
                        <img src="../../../assets/icons/icon-home.svg" alt="logos">CoopiDrogas Chapinero
                    </span>
                    <span class="option">
                        <img src="../../../assets/icons/icon-calendar.svg" alt="logos">18 Noviembre 2021
                    </span>
                    <div class="btn-group">
                        <img src="../../../assets/icons/icon-language.svg" alt="logos">
                        <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Español
                        </button>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header> -->