<main>
    <section class="mainForm">

        <div class="d-lg-flex d-md-flex d-blok justify-content-between">
            <div class="justify-content-start">
                <h1 class="mainForm_title">{{ "economicActivities.titleGet" | translate }}</h1>
            </div>
            <div class="justify-content-end align-self-start">
                <button type="submit" class="btn-primary btn-outline-1" pButton
                    label="{{ 'economicActivities.titleCreate' | translate  }}" (click)="create()"></button>
            </div>
        </div>
        <form (ngSubmit)="next()" [formGroup]="basicData" class="row g-3">
            <p-table #dt dataKey="id" [value]="idTypes" responsiveLayout="stack" [paginator]="true" [rows]="10"
                [rowsPerPageOptions]="[10,25,50]" [globalFilterFields]="['codigo','nombre']">
                <ng-template pTemplate="caption">
                    <h2>{{ "results" | translate}}</h2>

                    <span class="float-end table-search">
                        <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')"
                            placeholder="{{ 'search' | translate}}" />
                        <i class="pi pi-search"></i>
                    </span>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th scope="col" pSortableColumn="codigo">Código actividad económica
                            <p-sortIcon field="codigo"></p-sortIcon>
                            <p-columnFilter type="text" field="codigo" display="menu" class="ml-auto"></p-columnFilter>
                        </th>
                        <th scope="col" pSortableColumn="nombre">Descripción de la Actividad Económica
                            <p-sortIcon field="nombre"></p-sortIcon>
                            <p-columnFilter type="text" field="nombre" display="menu" class="ml-auto"></p-columnFilter>
                        </th>
                        <th scope="col" class="tableStyle">{{ "actions" | translate}}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-idType>
                    <tr>
                        <td>{{idType.codigo}}</td>
                        <td>{{idType.nombre}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic outlined example">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-edit"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-delete"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">{{ "notFound" | translate }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </form>
    </section>
</main>