<nav class="sb-sidenav accordion Menusidebar" id="sidenavAccordion">
    <div class="sb-sidenav-menu ">
        <div class="sb-sidenav-footer">
            <a class="nav-link"  [routerLink]="['/dashboard']">
                <div class="sb-nav-link-icon">
                    <span class="material-icons-outlined">maps_home_work</span>
                </div>
                Inicio
            </a>
            <a class="nav-link" href="index.html">
                <div class="sb-nav-link-icon">
                    <span class="material-icons-outlined">paid</span>
                </div>
                Ventas
            </a>
            <a class="nav-link" href="index.html">
                <div class="sb-nav-link-icon">
                    <span class="material-icons-outlined">list_alt</span>
                </div>
                Inventario
            </a>
            <a class="nav-link" href="index.html">
                <div class="sb-nav-link-icon">
                    <span class="material-icons-outlined">inventory</span>
                </div>
                Cartera
            </a>
            <a class="nav-link" href="index.html">
                <div class="sb-nav-link-icon">
                    <span class="material-icons-outlined">description</span>
                </div>
                Reportes
            </a>
            <a class="nav-link" href="index.html">
                <div class="sb-nav-link-icon">
                    <span class="material-icons-outlined">shopping_cart</span>
                </div>
                Pagos
            </a>
            <a class="nav-link" href="index.html">
                <div class="sb-nav-link-icon">
                    <span class="material-icons-outlined">chat</span>
                </div>
                Chat
            </a>
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <a class="nav-link" [routerLink]="['/dashboard']">
                <div class="sb-nav-link-icon">
                <span
                    class="material-icons-outlined">logout</span>
                </div>
                Salir
            </a>
    </div>
</nav>