
$bgClrBtnDropdown:  #E2E2E2;
$clr-bgAplication:  #FAFAFA;
$clrBorder:         #CCCCCC;

// Colores primarios
$corporativeBlue:  #00498A ;
$corporativeOrange:#DD5710;
$clrSubtitles:     #0E2239;
$clrSidebarHover:  #28659A;

//Botones nivel 1
$clrBlueLevel1:     #00498A;
$clrBlueLevel1Hover:#0E2239;
$clrBlueLevel1Fill: #BFDDF1;

//Botones nivel 2
$clrBlueLevel2:     #0072CC;
$clrBlueLevel2Hover:#0E2239;

//Botones nivel 3
$clrOrangeLevel3:     #DB3907;
$clrOrangeLevel3Hover:#982704;

//Boton focus
$clrBlueFocus: #0E2239;

//Boton disable
$clrGreyDisable:    #F1EFEB;
$clrGreyDisableText:#A8A7A4;

//Botones Outline


// Purple
$clrPurple100:   #6A2CA1;
$clrPurple75:    #9062B9;
$clrPurple50:    #B495D0;
$clrPurple25:    #DACAE7;
$clrPurpleActive:#4A1F70;

// Violet
$clrViolet100:   #A4219B;
$clrViolet75:    #BB59B4;
$clrViolet50:    #D190CD;
$clrViolet25:    #E8C7E6;
$clrVioletActive:#72176C;

// Fuchsia
$clrFuchsia100:   #C6007E;
$clrFuchsia50:    #E27FBE;
$clrFuchsia75:    #D5409F;
$clrFuchsia25:    #F1BFDF;
$clrFuchsiaActive:#8A0058;

// Burgundy
$clrBurgundy100:   #942151;
$clrBurgundy75:    #AF597D;
$clrBurgundy50:    #C990A8;
$clrBurgundy25:    #E4C7D3;
$clrBurgundyActive:#671739;

// Dark green
$clrDarkGreen100:   #18542C;
$clrDarkGreen75:    #527F61;
$clrDarkGreen50:    #8BA995;
$clrDarkGreen25:    #C5D4CA;
$clrDarkGreenActive:#103A1E;

// Green
$clrGreen100:   #007A3D;
$clrGreen75:    #409C6E;
$clrGreen50:    #7FBC9E;
$clrGreen25:    #BFDECE;
$clrGreenActive:#00552A;

// Green lemon
$clrGreenLemon100:   #678004;
$clrGreenLemon75:    #8DA043;
$clrGreenLemon50:    #B3BF81;
$clrGreenLemon25:    #D9DFC0;
$clrGreenLemonActive:#485903;

// Teal
$clrTeal100:   #008385;
$clrTeal75:    #40A2A4;
$clrTeal50:    #7FC1C2;
$clrTeal25:    #BFE0E0;
$clrTealActive:#005B5D;

// Orange
$clrOrange100:   #DB3907;
$clrOrange75:    #E46B45;
$clrOrange50:    #ED9C83;
$clrOrange25:    #F6CEC1;
$clrOrangeActive:#982704;

// Gold
$clrGold100:   #AE9962;
$clrGold75:    #C2B389;
$clrGold50:    #D6CCB0;
$clrGold25:    #EBE5D8;
$clrGoldActive:#796B44;

// Red
$clrRed100:   #D81E05;
$clrRed75:    #E25744;
$clrRed50:    #EB8E82;
$clrRed25:    #F5C7C0;
$clrRedActive:#961403;

// Yellow
$clrYellow100:   #FFC300;
$clrYellow75:    #FFD240;
$clrYellow50:    #FFE17F;
$clrYellow25:    #FFF4CF;
$clrYellowActive:#B28800;


// Grey scale
$clrGrey100:   #6C6E71;
$clrGrey75:    #919295;
$clrGrey50:    #B5B6B8;
$clrGrey25:    #DADBDB;
$clrGreyActive:#4B4D4F;

// Grey text
$clrGreyText100:   #333333;

// White
$clrWhite100:   #FFFFFF;

// Blue alert
$clrBlueAlert:      #DBF1FA;
$clrBlueAlertBorder:#7FBCE3;

// Green alert
$clrGreenAlert:      #EFFFDA;
$clrGreenAlertBorder:#439135;

// Red alert
$clrRedAlert:      #FCF1F0;
$clrRedAlertBorder:#D81E05;

// Yellow alert
$clrYellowAlert:      #FDF6DD;
$clrYellowAlertBorder:#AE9962;