$size0px : 0em;
$size1px : 0.0625em;
$size2px : 0.125em;
$size4px : 0.25em;
$size5px: 0.3125em;
$size8px: 0.5em;
$size10px: 0.625em;
$size12px: 0.75em;
$size13px:  0.8125em;
$size14px: 0.875em;
$size16px: 1em;
$size18px: 1.125em;
$size19px: 1.1875em;
$size20px: 1.25em;
$size22px: 1.375em;
$size24px: 1.5em;
$size30px: 1.875em;
$size32px: 2em;
$size40px: 2.500em;
$size46px: 2.875em;
$size48px: 3em;

$ltrSpace0_0px: 0em;
$ltrSpace0_48px: -0.03em;
$ltrSpace0_72px: -0.045em;
$ltrSpace0_36px: -0.0225em;
$ltrSpace0_42px: -0.02625em;
$ltrSpace0_54px: -0.03375em;
