$size0px : 0em;
$size1px : 0.0833em;
$size2px : 0.166em;
$size4px : 0.333em;
$size5px: 0.416em;
$size8px: 0.666em;
$size12px: 1em;
$size14px: 1.166em;
$size16px: 1.333em;
$size18px: 1.5em;
$size19px: 1.583em;
$size20px: 1.666em;
$size22px: 1.833em;
$size24px: 2em;
$size30px: 2.5em;
$size32px: 2.666em;
$size40px: 3.333em;
$size46px: 3.833em;
$size48px: 4em;

